{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block content %}
<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" x-data="loginForm">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120"
                    xml:space="preserve">
                    <g>
                        <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                        <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                        <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                    </g>
                </svg>
            </a>
            <h1 class="h6 mb-3">Sign in</h1>
            <div class="form-group">
                <label for="inputEmail" class="sr-only"> شماره همراه</label>
                <input type="text" class="form-control form-control-lg" placeholder="تلفن همراه" x-model="phone">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">گذرواژه</label>
                <input type="password" class="form-control form-control-lg" placeholder="گذرواژه" x-model="password">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" @click.prevent="submitForm()">ورود به
                سایت</button>
            <a class="btn btn-lg btn-outline-danger btn-block" href="{{url_for('account.register')}}">ثبت نام در سایت</a>
            <a class="btn btn-lg btn-outline-warning btn-block" href="{{url_for('account.login_by_phone')}}">ورود با کد
                یکبار مصرف</a>
            <p class="mt-5 mb-3 text-muted">© 2025</p>

        </form>

    </div>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('loginForm', () => ({
            phone: '',
            password: '',

            async submitForm() {
                if (this.phone.length == 0 || this.password.length == 0) {
                    Toast.fire({
                        icon: 'error',
                        title: 'فیلدهای موردنظر به درستی تکمیل شوند'
                    });
                } else if (this.phone.length != 11) {
                    Toast.fire({
                        icon: 'error',
                        title: 'شماره همراه را با دقت وارد نمایید'
                    });
                } else if (this.password.length <= 8) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'گذرواژه باید بزرگتر از 8 کاراکتر باشد'
                    });
                } else {
                    const data = new FormData()
                    data.append('phone', this.phone)
                    data.append('password', this.password)
                    await fetch("{{url_for('account.login')}}", {
                        headers: { 'Accept': 'application/json' },
                        method: 'POST',
                        body: data
                    })
                        .then(res => res.json())
                        .then((data) => {
                            if (data.status === "success") {
                                Toast.fire({
                                    icon: data.status,
                                    title: data.message
                                });
                                setTimeout(() => {
                                    window.location.href = "{{url_for('admin.index')}}"
                                }, 3000);
                            } else {
                                Toast.fire({
                                    icon: data.status,
                                    title: data.message
                                });
                            }
                        })
                        .catch((error) => console.log('error is : ', error))
                }
            }
        }))
    })
</script>
{% endblock %}