<div class="row">
    <div class="col-4">
    <div class="card shadow">
        <div class="card-body">
            <form class="form-group mb-3" hx-post="{{url_for('admin.site_image')}}" hx-swap="outerHTML"
                hx-target="#partial-image" enctype="multipart/form-data">
                <label for="customFile">لوگوی سایت</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="image">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button type="submit" class="btn btn-secondary mt-3">ارسال </button>
            </form>
        </div>
    </div>
</div>
<div class="col-3" id="imageuploaded">
    <div class="card shadow">
        <div class="card-body">
            <img width="150" src="{{url_for('static', filename=settings.logo)}}" alt="..." class="avatar-img rounded-circle">
        </div>
    </div>
</div>
</div>