{% extends 'base.html' %}

{% block title %} Login Page {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 m-x-auto pull-xs-none vamiddle">
            <div class="card-group ">
                <div class="card p-a-2">
                    <div class="card-block">
                        <h1>ورود</h1>
                        <p class="text-muted">وارد حساب کاربری خود شوید</p>
                        <form x-data="loginForm">
                            <div class="input-group m-b-1">
                                <span class="input-group-addon"><i class="icon-phone"></i></span>
                                <input x-model="phone" type="text" class="form-control en" placeholder="تلفن همراه">
                            </div>
                            <div class="input-group m-b-2">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input x-model="password" type="password" class="form-control en" placeholder="رمز ورود">
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" @click.prevent="submitForm()" class="btn btn-primary p-x-2">
                                        <i class="icon-login"></i>
                                        ورود</button>
                                </div>
                                <div class="col-xs-6 text-xs-right">
                                    <button type="button" class="btn btn-link p-x-0">فراموشی رمز ورود</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card card-inverse card-primary p-y-3" style="width:44%">
                    <div class="card-block text-xs-center">
                        <div>
                            <h2>ثبت نام</h2>
                            <p>اگر در سامانه عضو نیستید به راحتی می توانید همین الان نام نویسی کنید.</p>
                            <a type="button" href="{{url_for('account.register')}}"
                                class="btn btn-primary active m-t-1">عضویت رایگان</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('loginForm', () => ({
            phone: '',
            password: '',
            async submitForm(){
                const data = new FormData()
                data.append('phone', this.phone)
                data.append('password', this.password)
                await fetch("{{url_for('account.login')}}", {
                    headers: {'Accept': 'application/json'},
                    method: 'POST',
                    body : data
                })
                .then(res => res.json())
                .then((data) => {
                    if(data.status === "success"){
                        Toast.fire({
                            icon: data.status,
                            title: data.message
                        });
                        setTimeout(() => {
                            window.location.href = "{{url_for('account.login')}}"
                          }, 3000);
                    } else {
                        Toast.fire({
                            icon: data.status,
                            title: data.message
                        });
                    }
                })
            }
        })
    )})
</script>

<script>
    function verticalAlignMiddle() {
        var bodyHeight = $(window).height();
        var formHeight = $('.vamiddle').height();
        var marginTop = (bodyHeight / 2) - (formHeight / 2);
        if (marginTop > 0) {
            $('.vamiddle').css('margin-top', marginTop);
        }
    }
    $(document).ready(function () {
        verticalAlignMiddle();
    });
    $(window).bind('resize', verticalAlignMiddle);
</script>
{% endblock %}