{% extends 'base.html' %}

{% block title %} Register Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 m-x-auto pull-xs-none vamiddle">
            <div class="card">
                <div class="card-block p-a-2">
                    <h1>عضویت</h1>
                    <p class="text-muted">حساب کاربری خود را بسازید!</p>
                    <!-- <form hx-post="{{url_for('account.register')}}" hx-swap="none" hx-target=".container"
                        hx-push-url="true" novalidate> -->
                    <!-- <form method="post" action="{{url_for('account.register')}}" novalidate> -->
                    <form x-data="registerForm">
                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" x-model="full_name" class="form-control"
                                placeholder="نام و نام خانوادگی">
                        </div>

                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-phone"></i></span>
                            <input type="text" x-model="phone" class="form-control" placeholder="تلفن همراه">
                        </div>
                        <div class="input-group m-b-1">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" x-model="password" class="form-control" placeholder="گذرواژه">
                        </div>
                        <div class="input-group m-b-2">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" x-model="password_confirm" class="form-control"
                                placeholder="تکرار گذرواژه">
                        </div>
                        <button type="submit" @click.prevent="submitForm()" class="btn btn-block btn-success">
                            <i class="icon-user-follow"></i>
                            نام نویسی</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('registerForm', () => ({
            full_name: '',
            phone: '',
            password: '',
            password_confirm: '',

            async submitForm() {
                console.log("btn is clicked");
                console.log(this.full_name, this.phone, this.password, this.password_confirm);
                console.log(this.full_name.length, this.phone.length, this.password.length, this.password_confirm.length);

                if (this.full_name.length == 0 || this.phone.length == 0 || this.password.length == 0) {
                    Toast.fire({
                        icon: "warning",
                        title: "فیلدهای خالی را تکمیل نمایید"
                    });
                }
                else if (this.password !== this.password_confirm) {
                    Toast.fire({
                        icon: "warning",
                        title: "گذرواژه و تکرار گذرواژه یکسان نمی باشند"
                    });
                }
                else if (this.password.length < 8) {
                    Toast.fire({
                        icon: "warning",
                        title: "گذرواژه باید حداقل 8 کاراکتر باشد"
                    });
                }
                else if(this.phone.length != 11){
                    Toast.fire({
                        icon: "warning",
                        title: "شماره همراه وارد شده معتبر نمی باشد"
                    });
                }
                else {
                    const data = new FormData()
                    data.append('full_name', this.full_name.trim());
                    data.append('phone', this.phone);
                    data.append('password', this.password);
                    data.append('password_confirm', this.password_confirm);
                    console.log('data : ', data);
                    await fetch("{{url_for('account.register')}}",{
                        headers: {'Accept': 'application/json'},
                        method: "POST",
                        body: data
                    })
                    .then(res => res.json())
                    .then(data => {
                        console.log('response data is : ', data)
                        if (data.status === 'success') {
                            Toast.fire({
                                icon: data.status,
                                title: data.message
                            });
                           setTimeout(() => {
                             window.location.href = "{{url_for('account.login')}}"
                           }, 3000);
                        } else {
                            Toast.fire({
                                icon: data.status,
                                title: data.message
                            });
                        }
                    })
                    .catch((error) => {
                        Toast.fire({
                            icon: data.status,
                            title: data.message
                        });
                    })
                }

            }
        }))
    })
</script>
<script>

    function verticalAlignMiddle() {
        var bodyHeight = $(window).height();
        var formHeight = $('.vamiddle').height();
        var marginTop = (bodyHeight / 2) - (formHeight / 2);
        if (marginTop > 0) {
            $('.vamiddle').css('margin-top', marginTop);
        }
    }
    $(document).ready(function () {
        verticalAlignMiddle();
        console.log("register page is loading ..");
    });
    $(window).bind('resize', verticalAlignMiddle);
</script>
{% endblock %}