<!-- Simple bar CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/simplebar.css')}}">
<!-- Fonts CSS -->
<link
  href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet">
<!-- Icons CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/feather.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/select2.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/dropzone.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/uppy.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.steps.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.timepicker.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/quill.snow.css')}}">
<!-- Date Range Picker CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/daterangepicker.css')}}">
<link rel="stylesheet" href="">
<!-- App CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/app-light.css')}}" id="lightTheme">
<link rel="stylesheet" href="{{url_for('static', filename='css/app-dark.css')}}" id="darkTheme" disabled>
<!-- Developer JS -->

<script defer src="{{url_for('static', filename='dev/alpinejs@3.14.8.min.js')}}"></script>
<script defer src="{{url_for('static', filename='dev/htmx@2.0.4.min.js')}}"></script>
