{% extends 'base.html' %}

{% block title %}index page{% endblock %}

{% block content %}
<header class="navbar">
    <div class="container container-nav">
        <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
        <a class="navbar-brand" href="#"></a>

        <form class="form-inline nav navbar-nav pull-xs-right">
            <button class="btn btn-outline-success" type="submit">ثبت نام</button>
            <button class="btn btn-outline-primary" type="submit">ورود</button>
        </form>

    </div>
</header>

<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->

    <div class="container-fluid">

    </div>
    <!--/.container-fluid-->
</main>
<footer class="footer">
    <span class="text-left">
        <a href="localhost">AdminPanel</a> &copy; 2025 creativeLabs.
    </span>
    <span class="pull-right">
        Powered by <a href="http://mosiweb.ir">MosiWeb</a>
    </span>
</footer>
<script>

</script>
{% endblock %}