<div id="partial-image">
        <!-- {{ render_partial('admin/settings/partials/file-upload.html', settings=settings) }} -->
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body" x-data="{selectedFile: null, fileName: ''}">
                    <!-- <form class="form-group mb-3" method="post" action="{{url_for('admin.site_image')}}" enctype="multipart/form-data"> -->
                    <label for="customFile">لوگوی سایت</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file-upload" name="image"
                            x-on:change="selectedFile = $event.target.files[0]; filename=selectedFile ? selectedFile.name : '' ">
                        <label class="custom-file-label" for="file-upload">Choose file</label>
                        <p x-show="fileName" class="mt-2">Selected File : <span x-text="fileName"></span></p>
                    </div>
                    <!-- <button type="submit" class="btn btn-secondary mt-3">ارسال </button> -->
                    <button x-on:click="alert('File ' + fileName + 'would be uploaded')">
                        Upload File
                    </button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <div class="col-3" id="imageuploaded">
            <div class="card shadow">
                <div class="card-body">
                    <img width="150" src="{{url_for('static', filename=settings.logo)}}" alt="..."
                        class="avatar-img rounded-circle">
                </div>
            </div>
        </div>
    </div>