<div x-data="{ selectedFile: null, fileName: '' }">
    <label for="file-upload"
        class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Choose File
    </label>
    <input type="file" id="file-upload" class="hidden"
        x-on:change="selectedFile = $event.target.files[0]; fileName = selectedFile ? selectedFile.name : ''">

    <p x-show="fileName" class="mt-2">Selected file: <span x-text="fileName"></span></p>

    <button x-show="selectedFile" x-on:click="alert('File ' + fileName + ' would be uploaded now!')"
        class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Upload File
    </button>
</div>


<!-- ====================================================================== -->
<!-- upload logo -->
<div class="form-row">
    <div class="form-group col-md-3">
        <label for="customFile">لوگوی سایت</label>
        <div class="custom-file">
            <!-- <input type="file" class="custom-file-input"  @change="handleFileSelect" accept="image/*" x-ref="myFile"> -->
            <input type="file" class="custom-file-input" @change="handleFileSelect" accept="image/*" x-ref="myFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    <!-- logo preview -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <img width="150" :src="imgSrc" alt="logo site" class="avatar-img rounded-circle">
            </div>
        </div>
    </div>
</div>
<!-- end of upload logo -->

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('settingsForm', () => ({
            title: '',
            description: '',
            is_active: '',
            email: '',
            mobile: '',
            phone: '',
            address: '',
            post_code: '',
            imgSrc: '',
            logo: '',

            async fetchData() {
                try {
                    const response = await fetch("{{url_for('admin.get_site_settings')}}");
                    const data = await response.json();
                    // console.log('data logo : ', data.logo)
                    if (data.status == 'empty') {
                        this.title = '',
                            this.description = '',
                            this.email = '',
                            this.mobile = '',
                            this.phone = '',
                            this.address = '',
                            this.post_code = '',
                            this.imgSrc = '../../../static/assets/images/logo.png'
                    }
                    else {
                        this.title = data.title,
                            this.description = data.description,
                            this.email = data.email,
                            this.mobile = data.mobile,
                            this.phone = data.phone,
                            this.address = data.address,
                            this.post_code = data.post_code,
                            this.imgSrc = '../../../static/' + data.logo
                    }
                }
                catch (error) {
                    console.log('Error in fetch data is : ', error)
                }
            },

            init() {
                this.fetchData();
            },

            handleFileSelect() {
                // this.selectedFile = event.target.files[0];
                let file = this.$refs.myFile.files[0];
                console.log('File is ------> ', file)
                if (!file || file.type.indexOf('image/') === -1) return;
                this.imgsrc = '../../../static/uploads/settings/' + file;
                this.logo = '../../../static/uploads/settings/' + file;
                let reader = new FileReader();
                reader.onload = e => {
                    this.imgsrc = e.target.result;
                }
                reader.readAsDataURL(file);
            },

            async submitForm() {

                function ValidateEmail(email) {
                    var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    return reg.test(email)
                }

                if (this.title.trim() == '') {
                    Toast.fire({
                        icon: 'warning',
                        title: 'عنوان سایت را وارد نمایید'
                    });
                    return false
                }
                else if (this.description.trim() == '') {
                    Toast.fire({
                        icon: 'warning',
                        title: 'توضیحاتی در مورد سایت خود شرح دهید'
                    });
                    return false
                }
                else if (!ValidateEmail(this.email.trim())) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'ایمیل شما صحصح نمی باشد'
                    });
                    return false
                }
                else if (this.phone.trim().length != 11) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'تلفن وارد شده صحصح نیست'
                    });
                    return false
                }
                else if (this.mobile.trim().length != 11) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'شماره همراه وارد شده صحیح نیست'
                    });
                    return false
                }
                else if (this.address.trim() == '') {
                    Toast.fire({
                        icon: 'warning',
                        title: 'آدرس محل فعالیت خود را وارد نمایید'
                    });
                    return false
                }
                else if (this.post_code.trim().length != 10) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'کد پستی وارد شده صحیح نمی باشد'
                    });
                    return false
                }
                else if (this.imgSrc == null) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'عکسی برای سایت خود انتخاب نکرده اید'
                    });
                    return false
                }

                const fromData = new FormData();

                fromData.append('title', this.title)
                fromData.append('description', this.description)
                fromData.append('is_active', this.is_active)
                fromData.append('email', this.email)
                fromData.append('mobile', this.mobile)
                fromData.append('phone', this.phone)
                fromData.append('address', this.address)
                fromData.append('post_code', this.post_code)
                fromData.append('logo', 'mosiiiiiiiiiiiiiiiiii')

                for (var pair of fromData.entries()) {
                    console.log(pair[0] + " -> " + pair[1]);
                }

                const response = await fetch("{{url_for('admin.site_settings')}}", {
                    method: 'POST',
                    body: fromData
                });
                const data = response.json()
                if (data.status === 'ok') {
                    Toast.fire({
                        icon: 'success',
                        title: data.message,
                    });
                    fetchData();
                }
                else {
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                }
            }
        }));
    })
</script>